.message_error {
  background: url("error.png") left center no-repeat !important;
  color: red !important;
}
.message_tip {
  background: url("tip.png") left center no-repeat !important;
  color: black !important;
}
.input_error {
  border: 1px solid #ff0000;
}
.input_normal {
  border: 1px solid #cccccc;
}
.input_hover {
  border: 1px solid #508CEE;
}
